body {
  background-color: #666666;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.postIt1,
.postIt2,
.postIt3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13%;
  padding: 15px;
  border: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  transform: rotate(9deg);
  margin: 2% 5%;
  aspect-ratio: 1/1;
  font-size: 1.2rem;
}

.postIt1 {
  background: linear-gradient(to bottom, rgba(247, 247, 197, 1), rgba(247, 247, 197, 0.2));
}

.postIt2 {
  background: linear-gradient(to bottom, rgba(123, 218, 105, 0.8), rgba(123, 218, 105, 0.5));
}

.postIt3 {
  background: linear-gradient(to bottom, rgb(174, 146, 252), rgba(174, 146, 252, 0.5));
}

.postIt1 p,
.postIt2 p,
.postIt3 p {
  text-align: left;
  margin: 0;
  width: 100%;
  padding-left: 100px;
}

.postIt1 p:first-child,
.postIt2 p:first-child,
.postIt3 p:first-child {
  font-size: 3rem;
}
