body {
  background-image: url("https://img.pixers.pics/pho_wat(s3:700/FO/38/05/89/61/700_FO38058961_4e53a2f64513be6b89f314edb1c43f1d.jpg,700,495,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,445,jpg)/carte-da-parati-lavagna-vuota.jpg.jpg");
  font-family: "Playwrite CU", cursive;
  background-size: cover; /* Assicura che l'immagine copra interamente l'elemento */
  background-position: center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
  margin: 0; /* Rimuove i margini predefiniti del body */
  padding: 0; /* Rimuove i padding predefiniti del body */
  height: 100vh; /* Assicura che il body prenda tutta l'altezza della finestra */
  width: 100%; /* Assicura che il body prenda tutta la larghezza della finestra */
}

main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 5%;
}

.postIt1,
.postIt2,
.postIt3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13%;
  padding: 10px;
  border: none;
  box-shadow: 5px 5px 15px 2px;
  position: relative;
  border-radius: 10%;
  margin: 3% 5%;
  aspect-ratio: 1/1;
  font-size: 1.2rem;
  transition: transform 0.4s ease;
}

.postIt1 {
  background: linear-gradient(to bottom, rgba(247, 247, 197, 1), rgba(247, 247, 197, 0.2));
  transform: rotate(-15deg);
}

.postIt2 {
  background: linear-gradient(to bottom, rgba(123, 218, 105, 0.8), rgba(123, 218, 105, 0.5));
  transform: rotate(29deg);
}

.postIt3 {
  background: linear-gradient(to bottom, rgb(174, 146, 252), rgba(174, 146, 252, 0.5));
  transform: rotate(-20deg);
}

.postIt1 p:first-child,
.postIt2 p:first-child,
.postIt3 p:first-child {
  font-size: 3rem;
}

.postIt1:hover,
.postIt2:hover,
.postIt3:hover {
  transform: scale(1.3);
}
